 <div class="user-details">
  <h1> 关于我 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>UI/UX Design</h2>
     <i class="devicon-android-plain colored"></i>
     <i class="devicon-apple-original"></i>
      <p>熟悉各大平台规范（Android/iOS/windows/小程序）</p>
    </div>
    <div class="tech">
      <h2>Manage</h2>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>有团队管理经验，推动多款项目从0到1</p>
    </div>
        <div class="tech">
      <h2>Software</h2>
   <i class="devicon-photoshop-line colored"></i>
   <i class="devicon-illustrator-line colored"></i>
      <p>Sketch、Ps、Ai、Xd、Axure、<br/>Omnigraffle、Principle</p>
    </div>
</div>
