 <div class="user-details">
  <h1> 关于我 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>设计</h2>
      <i class="devicon-photoshop-line colored"></i>
      <i class="devicon-illustrator-line colored"></i>
      <p>web/pc/app等各平台均有丰富的项目经验</p>
    </div>
    <div class="tech">
      <h2>交互</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-apple-original"></i>
      <p>参与过多款大型项目从0到1的整体规划与推进</p>
    </div>
        <div class="tech">
      <h2>其他技能</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>手绘、代码、产品等领域均有涉足</p>
    </div>
</div>
