 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>设计</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>从事UI设计工作5年，web/pc/app等均有丰富的项目经验。</p>
    </div>
    <div class="tech">
      <h2>交互</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>2年交互经验，参与过两款大型项目从0到1的整体规划与进度推进</p>
    </div>
    <div class="tech">
      <h2>其他技能</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>手绘、代码、产品分析等均有接触</p>
    </div>
</div>
