<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=fwYNBRANED8ODlEcEBI" style="text-decoration:none;"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://mp.weixin.qq.com/s/SWbDk5eweaOxfObuNn3JJw"><i class="icon fa fa-weixin" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="http://weibo.com/yangran1212 "><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1196589013&site=qq&menu=yes"><i class="icon fa fa-qq" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>关于我</a>
        <a class="link" href="#projects" data-scroll>作品</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
