<div id="particles-js">
	<div class="header">
		<h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
		<div class="header-icons">
			<a aria-label="Send email" href="mailto:1196589013@qq.com" style="text-decoration:none;"><i class="icon fa fa-envelope"></i></a>
			<a aria-label="My Google Plus" target="_blank" href="http://weibo.com/yangran1212 "><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
			<a aria-label="ins" target="_blank" href="https://www.instagram.com/yrzoro/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
			<a aria-label="uichina" target="_blank" href="http://i.ui.cn/ucenter/93383.html"><i class="icon fa fa-link" aria-hidden="true"></i></a>
			<!--<a aria-label="behance" target="_blank" href=" "><i class="icon fa fa-medium" aria-hidden="true"></i></a>-->
			<!-- <a aria-label="My Github" target="_blank" href="http://mp.weixin.qq.com/s/baIrwK6yRIFsocpZnKxDlQ"><i class="icon fa fa-qq" aria-hidden="true"></i></a>-->
			<!-- <a aria-label="My Twitter" target="_blank" href="https://mp.weixin.qq.com/s/SWbDk5eweaOxfObuNn3JJw"><i class="icon fa fa-weixin" aria-hidden="true"></i></a>-->
			<!-- <a aria-label="twitter" target="_blank" href="https://mobile.twitter.com/cxcf1212"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>-->
			<!--<a aria-label="behance" target="_blank" href="https://www.behance.net/yanglanlan"><i class="icon fa fa-behance" aria-hidden="true"></i></a>-->
		</div>
		<div class="header-links">
			<a class="link" href="#about" data-scroll>关于我</a>
			<a class="link" href="#projects" data-scroll>个人项目</a>
		</div>
	</div>
	<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>