<div class="user-details">
	<h1> 个人项目 </h1>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ " /assets/img/wechat.png " | prepend: site.baseurl }}" />
	</div>
	<!-- <div class="contents-right">
		<h3> 我的微信公众号 </h3>
		<ul>
			<li> 聊工作聊生活（ID：helloworld_1212）</li>
		</ul>
		<p>2018年开通了自己的公众号，目前争取每月一更，记录工作与生活中的点滴感悟。希望能带给周围的人正能量，一起努力。</p>
		<a class="project-link" href="">扫码关注</a>
	</div>
</div> -->

<div class="clean"></div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ " /assets/img/comb.png " | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 安卓图标包绘制 </h3>
		<ul>
			<li> Comb图标包 </li>
		</ul>
		<p>已在酷安市场上架，申请图标适配以及图标包相关问题反馈请发邮件到
			<a href="mailto:yangran_comb.foxmail.com" style="text-decoration:none; color: #525eff;">yangran_comb.foxmail.com</a>

		</p>
		<a class="project-link" href="https://www.coolapk.com/apk/176691">查看&下载</a>
	</div>
</div>
<div class="clean"></div>


<!--<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ " /assets/img/wechat.png " | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 微信表情包 </h3>
		<ul>
			<li> 微信表情中搜索关键字：</li>
		</ul>
		<p>2018年开通了自己的公众号，目前争取每月一更，记录工作与生活中的点滴感悟。希望能带给周围的人正能量，一起努力。</p>
		<a class="project-link" href="">扫码关注</a>
	</div>
</div>
<div class="clean"></div>-->
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ " /assets/img/design.jpg " | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 更多UI作品 </h3>
		<ul>
			<li> 学如逆水行舟，不进则退。</li>
		</ul>
		<p>会定期整理手头的项目，也会发一些自己练习的作品。只有不断学习进步才能给自己带来安全感。</p>
		<a class="project-link" href="http://itran.lofter.com/">点击查看</a>
	</div>
</div>