<div class="user-details">
    <h1> 大型项目 </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/design.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> MoboPlayer </h3>
        <ul>
            <li> UXD / 项目负责人 </li>
        </ul>
        <p>MoboPlayer是一款本地视频播放器，拥有良好的解码能力和多样化的功能，安卓版本目前累计有3千万用户下载使用，IOS版本目前累计7万用户下载使用。（各大市场均可下载， Google Play评分4.2）</p>
        <a class="project-link" href="#">项目整理中</a>
    </div>
</div>
<div class="clean"></div>


<div class="clean"></div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/comb.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> 安卓图标包绘制 </h3>
        <ul>
            <li> Comb图标包 </li>
        </ul>
        <p>已在酷安市场上架，申请图标适配以及图标包相关问题反馈请发邮件到
            <a href="mailto:yangran_comb.foxmail.com" style="text-decoration:none; color: #525eff;">yangran_comb.foxmail.com</a>

        </p>
        <a class="project-link" href="https://www.coolapk.com/apk/176691">查看&下载</a>
    </div>
</div>
<div class="clean"></div>



<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/qh.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> 现货交易平台PC/移动端/官网 </h3>
        <ul>
            <li> UXD </li>
        </ul>
        <p>该项目是负责一款现货交易平台的设计，分为pc端、移动端（包含安卓与ios平台）、和官网的设计，包括及时/预埋买卖等功能。</p>
        <a class="project-link" href="https://www.behance.net/gallery/66121679/App">点击查看</a>
    </div>
</div>
<div class="clean"></div>


<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/tbm.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> 智能决策管理系统 </h3>
        <ul>
            <li> UXD </li>
        </ul>
        <p>本项目用于岩土挖掘项目的管理系统，主要操作包括了分角色权限、导入数据、生成与修改模型、数据筛选与排序等功能。</p>
        <a class="project-link" href="#">项目整理中</a>
    </div>
</div>
<div class="clean"></div>

<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ " /assets/img/design.jpg " | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 更多UI作品 </h3>
		<ul>
			<li> 学如逆水行舟，不进则退。</li>
		</ul>
		<p>会定期整理手头的项目，也会发一些自己练习的作品。只有不断学习进步才能给自己带来安全感。</p>
		<a class="project-link" href="http://itran.lofter.com/">点击查看</a>
	</div>
</div>